@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #292c34;
}
header {
  background: white;
}
header > h1 {
  color: #24272e;
  text-align: center;
  font-family: Asap, sans-serif;
}
.score-board {
  margin: 20px auto;
  border: 3px solid white;
  width: 200px;
  color: white;
  font-size: 46px;
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  font-family: Asap, sans-serif;
  position: relative;
}
.badge {
  background: #e25840;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;
}
#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}
#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}
.result {
  font-size: 40px;
  color: white;
}
.result > p {
  text-align: center;
  font-family: Asap, sans-serif;
  font-weight: bold;
}
.rock {
  color: #24272e;
}
.choice {
  border: 4px solid white;
  border-radius: 5%;
  display: inline-block;
  margin: 0 20px;
  padding: 20px;
  transition: all 0.3s ease;
}
.choices {
  margin: 50px 0;
  text-align: center;
}
.choice:hover {
  cursor: pointer;
  background: #24272e;
}
#action-message {
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}
.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}
.grey-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
